body, html {
  margin: 0;
  padding-bottom: 0px;
  padding-top: 2.5px; 
  background-color: black;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: flex-start; /* aligne en haut */
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

video, img {
      display: none;
      max-width: 98vw;
      max-height: 98vh;
      border-radius: 12px;
      box-shadow: 0 0 40px rgba(255, 255, 255, 0.1);
}

.visible {
      display: block;
}

#intro {
      position:absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      border-radius: 0;
      box-shadow: none;
}

#next-btn {
 display: none;
 margin-top: 5px;
 padding: 12px 25px;
 background-color: #e50914;
 color: #ffffff;
 border: none;
 border-radius: 6px;
 font-size: 1.1rem;
 cursor: pointer;
 transition: all 0.3s ease;
}

#next-btn:hover {
  background-color: #b20710;
}

#prev-btn {
 display: none;
 margin-top: 5px;
 padding: 12px 25px;
 background-color: #e50914;
 color: #ffffff;
 border: none;
 border-radius: 6px;
 font-size: 1.1rem;
 cursor: pointer;
 transition: all 0.3s ease;
}

#prev-btn:hover {
  background-color: #b20710;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 900px; /* espace entre les boutons */
  margin-top: 5px;
  margin-bottom: 10px;
}